
.card { 
  margin-left: 50px;
  }
  
  
  .card-text {
    padding: 5px;
  }
  
  .card-title {
    padding: 10px;
    color: black; 
  }
  
  .address {
    color: blue;
    font-size: small;
  }
  
  .vetTitle {
      color: black;
      font-weight: bold;
  }

  .card-columns {
      background-color: lightcyan;
      margin: auto;
      width: 90%;
  }

  #vetList {
      background-color: lightcyan;
  }

  #row-container {
      display: flex;
      flex-direction: row;
      max-width: 100%;
  }

  #col1 {
      width: 60%;
  }

  #col2 {
      width: 40%;
      margin-left: 10px;
}

  h1 {
      text-align: center;
      color: black;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }